# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf

[*.md]
max_line_length = off
trim_trailing_whitespace = false

# YAML files
[*.{yml,yaml}]
indent_size = 2

# Shell scripts
[*.{sh,bash}]
indent_size = 2
end_of_line = lf

# Dockerfile
[{Dockerfile,Dockerfile.*,*.dockerfile}]
indent_size = 2

